@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* background-color: greenyellow; */
  text-align: center;
  background-image: url(https://www.publicdomainpictures.net/pictures/130000/nahled/island-in-the-sea-1436372584iNa.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
}










